@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  /* font-family: "Quattrocento Sans", sans-serif; */
  letter-spacing: 0.025em;
}
